html, body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 2vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#state-bar {
    height: 3em;
    font-size: 0.8rem;
    padding: .2em .5em;
}

#text-panel {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e7e7e7;
    padding: 1em;
}

.text {
    margin-bottom: .5em;
    padding-top: .5em;
}

#option-panel {
    height: 30vh;
    flex-shrink: 0;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
}

.option {
    width: 100%;
    text-align: center;
    border: 0 solid #003388;
    border-radius: .2em;
    padding: .5em 2em;
    margin: .5em 0;
    cursor: pointer;
}

.move {
    color: #1e1e24;
    border-top: 1px dashed #646464;
}

.bad {
    color: #eb5b5b;
}

.good {
    color: #47cc69;
}

.event {
    color: #3b394d;
}

.value-mutation {
    font-size: 0.8rem;
    text-align: center;
}